
body {
  background-color: rgba(0, 0, 0, 0.43);
}
#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
	display: block;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}
.login-form{
  background-color: red;
}
Checkbox {
	display: block;
}
